<div class="home">
  <div class="main">

    <div class="header">
      <%= link_to "BRYLLUP", root_path %>
      <%= link_to "ØNSKELISTE", liste_path %>
    </div>


    <div class="wrapper">
      <div class="h1" style="margin-bottom: 4lvh;">
        Vi skal giftes!
      </div>

      <div class="h3">
        - Andreas & Signe -
      </div>

    <div class="gif">
      <%= image_tag('GIF.gif') %>
    </div>

     <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background: #DA591B; border-color: #DA591B; margin-bottom: 4lvh;">
        Ser vi dig?
    </button>

    </div>

  </div>

  <div class="info">
    <h2>Kære dig</h2>
    <div class="tekst"> Vi vil gerne invitere dig til vores bryllup d. 02.09.23, hvor vi skal danse til den lyse morgen!
    Vi kan ikke vente med at dele denne særlige dag med vores yndlings mennesker, og vi håber, at du vil være med til at gøre dagen endnu mere mindeværdig.
    Vi glæder os til at se dig!
    </div>
    <div class="h3">
    Andreas & Signe
    </div>
    <div class="drinks">
      <%= image_tag('drinks.png') %>
    </div>

  </div>

  <div class="container" style="max-width: 100lvw; margin: 0; padding: 0;">

    <div class="row" style="width: 100lvw; margin-left: 0;">

      <div class="vielsen col-12 col-md-6">
        <h2>Vielsen</h2>
        <div class="h3">
        Kl. 10:40
        </div>
        <div class="h3">
        Københavns Rådhus
        </div>
        <div class="tekst">
        I er velkomne til at være med når vi bliver viet på Københavns rådhus og skåle med os bagefter i den tilhørende gårdhave! Mød os 30 min før ude foran rådhuset.
        </div>
      </div>

      <div class="festen col-12 col-md-6">
        <h2>Festen</h2>
        <div class="h3">
        Kl. 16:00
        </div>
        <div class="h3">
        Bryggens Roklub
        </div>
        <div class="tekst">
        Aftenens festligheder med reception, middag og dansegulv vil foregå i Bryggens roklub på adressen: Rundholtsvej 95, 2300 Kbh.
        </div>
      </div>

    </div>

    <div class="row" style="width: 100lvw; margin-left: 0;">

      <div class="indslag col-12 col-md-6">
        <h2>Indslag</h2>
        <div class="h3">
          Indslag er velkomne
        </div>
        <div class="tekst">
          Hvis I har indslag, kan I koordinere med vores søde toastmaster Daniel på tlf 26 24 85 46.
        </div>

        <div class="fulg">
          <%= image_tag('Fulg.png') %>
        </div>

      </div>

      <div class="dresscode col-12 col-md-6">
        <h2>Det er</h2>
        <h2>havefest</h2>
        <div class="h3">
          Men dress to impress!
        </div>
        <div class="tekst">
          Ps. Medbring badetøj og et håndklæde, da der er mulighed for en dukkert og en tur i sauna (du må også gerne være nøgen..).
        </div>

        <div class="kvinde">
          <%= image_tag('kvinde.png') %>
        </div>


      </div>

    </div>

  </div>

  <div class="footer">
    <div class="spotify" style="margin-bottom: 3lvh;">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3rdjHOb9fswpcHBQo1S5Uf?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>


    <div class="h3">
      02. september 2023 | Bryggens Roklub
    </div>

    <div class="h2">
      Vi glæder os til at fejre vores store dag med dig!
    </div>

    <div class="tekst">
    S.U. senest 20. juli
    </div>


        <!-- Button trigger modal -->
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background: #DA591B; border-color: #DA591B;">
        Besvar Invitationen
      </button>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Tilmelding til Andreas' og Signes bryllup</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div class="modal-body">
              <!-- Form -->
              <form action="https://formsubmit.co/3c92646439654799c58fa8ee4b614e37" method="POST">
                <!-- Honeypot -->
                <input type="text" name="_honey" style="display: none;">

                <!-- Disable Captcha -->
                <input type="hidden" name="_captcha" value="false">

                <input type= "hidden" name="_next" value="http://www.signeogandreas.me/succes">

                <div class="mb-3">
                  <label for="navn" class="form-label">Dit navn</label>
                  <input type="text" class="form-control" id="navn" name="navn" required>
                </div>

                <div class="mb-3">
                  <label for="partner" class="form-label">Navn på din +1</label>
                  <input type="text" class="form-control" id="partner" name="partner">
                </div>

                <div class="mb-3">
                  <label for="bemærkninger" class="form-label">Bemærkninger</label>
                  <textarea class="form-control" id="bemærkninger" name="bemærkninger" rows="4"></textarea>
                </div>

                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="barCheckbox" name="barCheckbox">
                  <label class="form-check-label" for="barCheckbox">Jeg hjælper gerne til i baren</label>
               </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tilbage</button>
                  <button type="submit" class="btn btn-primary" style="background: #DA591B; border-color: #DA591B;">Tilmeld</button>
                </div>

              </form>

          </div>

        </div>

      </div>

    </div>

  </div>


</div>
